[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bpython = "*"
pylama = "*"
autopep8 = "*"

[packages]
lxml = "*"
xmltodict = "*"
pyyaml = "*"
htmldom = "*"

[requires]
python_version = "3.7"
